input.ember-auto-resize,
textarea.ember-auto-resize {
  border-radius: .25rem;
  background: #f1f5f8;
  color: #3d4852;
  padding: .3rem 0.6rem;
  box-shadow: inset 0 0 1px #b1b4b6;
  resize: none; }

.horizontal-ruler {
  border: 1px solid #2c2c2c;
  border-top: 0;
  height: 5px;
  background: white;
  margin: 0.25rem 0; }

.horizontal-ruler + div {
  font-size: 0.75rem;
  text-align: center; }

.vertical-ruler {
  border: 1px solid #2c2c2c;
  border-right: 0;
  background: white;
  width: 5px;
  resize: none;
  vertical-align: top;
  margin: 0 0.25rem; }

.vertical-units {
  font-size: 0.75rem;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center; }

.vertical-units p {
  height: auto; }

.rows {
  position: relative;
  display: flex;
  flex-direction: row; }

.columns {
  display: flex;
  flex-direction: column; }
