<div class="window_chrome">
  <span class="close button"></span>
  <span class="minimize button"></span>
  <span class="maximize button"></span>
  {{title}}
</div>
<div class="window_content">
  <div class="gutter"></div>
  {{#each lines as |line|}}
    <div class="line">
      <span class="line-number">{{line.number}}</span>
      <code>{{highlight line.code}}</code>
    </div>
  {{/each}}
</div>
