@font-face {
  font-family: 'OfficeCodePro';
  src: url('/assets/fonts/OfficeCodePro-Regular.eot');
  src: url('/assets/fonts/OfficeCodePro-Regular.eot') format('embedded-opentype'),
    url('/assets/fonts/OfficeCodePro-Regular.woff') format('woff'),
    url('/assets/fonts/OfficeCodePro-Regular.ttf') format('truetype'),
    url('/assets/fonts/OfficeCodePro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OfficeCodePro';
  src: url('/assets/fonts/OfficeCodePro-Bold.eot');
  src: url('/assets/fonts/OfficeCodePro-Bold.eot') format('embedded-opentype'),
    url('/assets/fonts/OfficeCodePro-Bold.woff') format('woff'),
    url('/assets/fonts/OfficeCodePro-Bold.ttf') format('truetype'),
    url('/assets/fonts/OfficeCodePro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
}

.ember-text-area.ember-auto-resize {
  display: inline-block;
  vertical-align: top;
}

input {
  box-sizing: border-box;
}

pre, pre.hljs {
  font-family: 'OfficeCodePro';
  font-size: 14px;
  background: #FAFAFA;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding: 20px;
}

.handlebars .hljs-expression {
  color: #333;
}
.handlebars .hljs-string,
.xml .hljs-value {
  color: #00BA67;
}
.xml .hljs-title {
  color: #034ABC;
}
.handlebars .hljs-variable,
.xml .hljs-attribute {
  color: #333;
}


input.em-units,
input.px-units,
input.vw-units,
input.in-units,
input.mm-units {
  background: #d8377f;
  height: 9px;
  border: 2px solid #d8377f;
}
input.em-units {
  width: 12em;
}
input.px-units {
  width: 220px;
}
input.vw-units {
  width: 100vw;
}
input.in-units {
  width: 2in;
}
input.mm-units {
  width: 50mm;
}

textarea.em-units,
textarea.px-units,
textarea.vh-units,
textarea.in-units,
textarea.mm-units {
  background: blue;
  width: 5px;
  border: 1px solid blue;
  resize: none;
}
textarea.em-units {
  height: 5em;
}
textarea.px-units {
  height: 150px;
}
textarea.vh-units {
  height: 10vh;
}
textarea.in-units {
  height: 3in;
}
textarea.mm-units {
  height: 30mm;
}
