code {
  font-family: OfficeCodePro;
  font-size: 15px;
  white-space: nowrap;

  &.inline {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 4px;
  }

  .tag,
  .hbs-directive {
    color: $green;
  }

  .hbs-string {
    color: $red;
  }

  .attr-value,
  .hbs-block-param,
  .hbs-path,
  .hbs-number,
  .hbs-bool {
    color: $blue;
  }

  .attr-key,
  .hbs-keyword,
  .hbs-key {
    color: $pink;
  }
}
