$ember: #D8563A;
$white: #FFF;
$black: #010101;
$red: #ff5133;
$yellow: #FEBE04;
$green: #0ad67b;
$blue: #308df5;
$pink: #E63687;
$transparent: rgba(0, 0, 0, 0);
$primary-color: #EAEC07;
$secondary-color: #FFB600;
