<div id='index'>
  <div class="hero">
    <p>Autoresizing text fields <br>for your {{svg-jar 'ember-logo' title="Ember"}} app</p>
    <a class="more" href="#installation">{{svg-jar 'arrow'}}</a>
  </div>

  <main>
    <section id="installation">
      <h2>Installation</h2>
      <div class="grid">
        {{#window-pane}}
          <span class="ps1">&gt; </span>ember install ember-autoresize
        {{/window-pane}}
      </div>
    </section>

    <section id="playground">
      <h2>Playground</h2>
      <div class="grid">
      </div>
    </section>
  </main>
</div>
