{{docs-hero
  logo='ember'
  strongHeading='Autoresize'
  byline='Autoresizing Text Fields for Ember'}}

<div class='docs-container docs-md'>
  <section class='max-w-md mx-auto'>
    <div class="my-16 text-center">
      {{#link-to 'docs' class='bg-grey-darkest hover:bg-black text-white py-2 px-4 no-underline rounded'}}
        Get started →
      {{/link-to}}
    </div>
  </section>

  <section class="max-w-md mx-auto">
    <div class="my-16 text-center">
      {{#docs-demo as |demo|}}
        {{#demo.example name='my-demo.hbs'}}
          {{textarea placeholder='Type here'
             autoresize=true rows=2 max-rows=5}}
        {{/demo.example}}
        {{demo.snippet 'my-demo.hbs'}}
      {{/docs-demo}}
    </div>
  </section>
</div>
