#chat {
  position: relative;
  box-sizing: border-box;

  form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 70px);
    resize: none;
    border: 0;
    padding: 5px 60px 5px 10px;

    border-top: 1px solid #C8C8C8;
  }

  button {
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
}