#index {
  .hero {
    position: relative;
    font-size: 42px;
    background: linear-gradient($ember, $accent-color);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    p {
      margin: 0 auto;
      line-height: 1.7em;
      max-width: 500px;
      text-align: center;
      padding-top: 5em;
      padding-bottom: 6em;
    }

    .ember-logo {
      height: 50px;
      position: relative;
      top: 4px;
    }

    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    }
  }
}
