#index {
  .hero {
    position: relative;
    font-size: 2.3rem;
    background: linear-gradient($primary-color, $secondary-color);
    color: #111;
    height: 60vh;
    min-height: 250px;
    overflow: hidden;

    p {
      transition: all 120ms;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -60%);
              transform: translate(-50%, -60%);
      line-height: 1.7em;
      width: 600px;
      text-align: center;
      font-weight: bold;
    }

    svg {
      transition: all 120ms;
      height: 3rem;
      width: 7.575rem;
      position: relative;
      top: 3px;
      overflow: visible;

      path, text {
        fill: #111;
      }
    }

    .more {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0;
      right: 0;
      height: 50px;
      text-align: center;
      z-index: 10;

      svg {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -30px;
        width: 64px;
        height: 26px;
        transition: all 0.25s ease-in-out;
        opacity: 0.7;
      }

      &:hover svg {
        opacity: 1;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }
  }

  #playground .window-pane > div {
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  #index .hero {
    font-size: 1.8rem;
    p {
      width: 100vw;
    }
    svg {
      height: 2.2rem;
      width: 5.55rem;
    }
  }
}

@media (max-width: 420px) {
  #index .hero {
    font-size: 1.4rem;
    svg {
      height: 1.8rem;
      width: 4.545rem;
    }
  }
}

@media screen and (max-width: 330px) {
  #index .hero {
    font-size: 1.2rem;
    height: calc(100vh - 84px);
  }
}