#test {
  input.em-units,
  input.px-units,
  input.vw-units,
  input.in-units,
  input.mm-units {
    background: #d8377f;
    height: 9px;
    border: 2px solid #d8377f;
  }
  input.em-units {
    width: 12em;
  }
  input.px-units {
    width: 220px;
  }
  input.vw-units {
    width: 100vw;
  }
  input.in-units {
    width: 2in;
  }
  input.mm-units {
    width: 50mm;
  }

  textarea.em-units,
  textarea.px-units,
  textarea.vh-units,
  textarea.in-units,
  textarea.mm-units {
    background: blue;
    width: 5px;
    border: 1px solid blue;
    resize: none;
  }
  textarea.em-units {
    height: 5em;
  }
  textarea.px-units {
    height: 150px;
  }
  textarea.vh-units {
    height: 10vh;
  }
  textarea.in-units {
    height: 3in;
  }
  textarea.mm-units {
    height: 30mm;
  }
}
